<% if @likes_page %>
  <%= link_to '', wheel_spin_path, remote: true, id: 'spin_button'%>
  <%= link_to 'Правила за участие*', terms_path, id: 'terms_button'%>
  <span id="terms_footnote">
    *Моля, прочетете правилата на играта преди да участвате
  </span>
<% else %>
  <%= image_tag 'like_to_play.png', id: 'like_to_play' %>
<% end %>

<div id="wheel_container">
  <%= image_tag 'arrow.png', id: 'win_sector' %>
  <%= image_tag 'shield.png', id: 'wheel_center' %>
</div>

<script type="text/javascript">
  var wheel;

  $(document).ready(function(){
    wheel = new Wheel();
  });

</script>

<%= image_tag 'logo.png', id: 'logo' %>
