<div class="row">
  <%= form_tag spins_path, method: :get, class: 'form-inline', role: 'form' do %>
    <div class="code-input col-xs-8 form-group">
      <span class="code-prefix">2008</span>
      <%= number_field_tag :code, nil, placeholder: 'КОД НА НАГРАДА', class: 'form-control' %>
    </div>
    <div class="col-xs-4">
      <%= button_tag 'Търси награда', class: 'btn btn-default btn-primary btn-block' %>
    </div>
  <% end %>
</div>

</br>
</br>

<h1>Неполучени печалби</h1>

<div class="row">
  <div class="col-xs-12">
    <table class="pending table table-hover">
      <thead>
        <tr>
          <th>Код</th>
          <th>Име</th>
          <th>Фамилия</th>
          <th>Имейл</th>
          <th>Пол</th>
          <th>Награда</th>
          <th>Играно на</th>
          <th>Даване на награда?</th>
          <th>Изтриване?</th>
        </tr>
      </thead>
      <tbody>
        <% @pending_winnings.each do |pending_winning| %>
          <tr>
            <td style="font-size:16px;font-weight:bold;"><%= "2008#{pending_winning.id}" %></td>
            <td><%= pending_winning.user.name %></td>
            <td><%= pending_winning.user.surname %></td>
            <td><%= pending_winning.user.email %></td>
            <td><%= pending_winning.user.gender %></td>
            <td><%= pending_winning.prize %></td>
            <td>преди <%= distance_of_time_in_words(pending_winning.created_at, Time.now) %></td>
            <td><%= button_to('Give', spin_path(pending_winning), confirm: 'Сигурни ли сте?', method: :put, class: 'btn btn-primary') %></td>
            <td><%= button_to('Delete', spin_path(pending_winning), confirm: 'Сигурни ли сте?', method: :delete, class: 'btn btn-danger') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    </br>

    <% unless @pending_winnings.any? %>
      <div class="no-results">
        <%= @no_results_message %>
      </div>
    <% end %>
  </div>
</div>

<h1>Given winnings</h1>

<div class="row">
  <div class="col-xs-12">
    <table class="given table table-hover">
      <thead>
        <tr>
          <th>Код</th>
          <th>Име</th>
          <th>Фамилия</th>
          <th>Имейл</th>
          <th>Пол</th>
          <th>Награда</th>
          <th>Играно на</th>
          <th>Получено на</th>
        </tr>
      </thead>
      <tbody>
        <% @given_winnings.each do |given_winning| %>
          <tr>
            <td style="font-size:16px;font-weight:bold;"><%= "2008#{given_winning.id}" %></td>
            <td><%= given_winning.user.name %></td>
            <td><%= given_winning.user.surname %></td>
            <td><%= given_winning.user.email %></td>
            <td><%= given_winning.user.gender %></td>
            <td><%= given_winning.prize %></td>
            <td>преди <%= distance_of_time_in_words(given_winning.created_at, Time.now) %></td>
            <td>преди <%= distance_of_time_in_words(given_winning.updated_at, Time.now) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    </br>

    <% unless @given_winnings.any? %>
      <div class="no-results">
        Няма раздадени награди.
      </div>
    <% end %>
  </div>
</div>
