<div class="row">
  <%= form_tag spins_path, method: :get, class: 'form-inline', role: 'form' do %>
    <div class="code-input col-xs-8 form-group">
      <span class="code-prefix">2008</span>
      <%= number_field_tag :code, nil, placeholder: 'CODE', class: 'form-control' %>
    </div>
    <div class="col-xs-4">
      <%= button_tag 'Search', class: 'btn btn-default btn-primary btn-block' %>
    </div>
  <% end %>
</div>

</br>
</br>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Prize</th>
          <th>Played on</th>
          <th>Give</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @spins.each do |spin| %>
          <tr>
            <td style="font-size:16px;font-weight:bold;"><%= "2008#{spin.id}" %></td>
            <td><%= spin.user.name %></td>
            <td><%= spin.user.surname %></td>
            <td><%= spin.user.email %></td>
            <td><%= spin.user.gender %></td>
            <td><%= spin.prize %></td>
            <td><%= spin.created_at %></td>
            <td><%= button_to('Give', spin_path(spin), confirm: 'Are you sure?', method: :put, class: 'btn btn-primary') %></td>
            <td><%= button_to('Delete', spin_path(spin), confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<% unless @spins.any? %>
  <div class="row">
    <div class="col-xs-12 no-search-results">
      <%= @no_results_message %>
    </div>
  </div>
<% end %>